@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	--primary-color: #5d5fef;
	--primary-color-dark: #4b4dbf;
	--secondary-color: #131516;
	--text-dark: #333;
	--text-light: #767268;
	--extra-light: #f8f8f8;
	--white: #fff;
	--maxwidth: 1200px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

.hero {
	height: 100vh;
	width: 100%;
	background-image: url("images/clear_img.jpeg");
	background-size: cover;
	background-position: center;
}

body{
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	color: white;
	font-size: 35px;
}
span{
	color: #f9004d;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: 700;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 20px;
	font-size: 75;
}
h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 57px;
}

h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 24px;
}
