@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", Roboto;
	font-weight: 600;
}

:root {
	--primary-color: #f3eae5;
	--text-dark: #2c2742;
	--white: #fff;
	--max-width: 1200px;
}

.btn {
	outline: none;
	border: none;
	transition: 0.3s;
	cursor: pointer;
}

.logo {
	display: flex;
	width: 100%;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

img {
	display: flex;
	padding-bottom: 23px;
}

body {
	font-family: "Montserrat", sans-serif;
}

nav {
	position: fixed;
	isolation: isolate;
	width: 100%;
	z-index: 9;
}

.nav_header
{
	padding: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--text-dark);
}

.nav_logo a {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
}
.nav_links {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	padding: 2rem;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--text-dark);
	transition: 0.5s;
	z-index: -1;
	transform: translateY(-100%);
}
.nav_links .open {
	transform: translateY(0);
}

.nav_links a {
	font-weight: 700;
	color: var(--primary-color);
}

.nav_links a:hover {
	color: var(--white);
}

.nav_btn {
	display: none;
}
.content {
	padding-block: 0 5rem;
	padding-inline: 2rem;
	text-align:center;
}
.content h4 {
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 450;
	color: var(--text-dark);
}

.content p {
	line-height: 1.75rem;
	color: var(--text-dark);
}
.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 5rem 0;
	position: relative;
	isolation: isolate;
	display: grid;
	gap: 2rem;
	overflow: hidden;
}

.content {
	padding-block: 0 5rem;
	padding-inline: 2rem;
	text-align: center;
}
.content h2 {
	margin-bottom: 1rem;
	font-size: 5rem;
	font-weight: 500;
	color: var(--text-dark);
}

.content h2 {
	margin-bottom: .7rem;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 3px;
	color: var(--text-dark);
}

.content p {
	line-height: 1.75rem;
	color: var(--text-dark);
}
@media (width > 768px){
	nav{
		position: static;
		padding: 2rem;
		max-width: var(--max-width);
		margin-inline: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
	.nav_header {
		flex: 1;
		padding: 0;
		background-color: transparent;
	}
	.nav_logo a {
		color: var(--text-dark);
	}
	.nav_menu_btn {
		display: none;
	}
	.nav_links {
		position: static;
		padding: 0;
		flex-direction: row;
		background-color: transparent;
		transform: none;
	}
	.nav_links a,
	.nav_links a:hover {
		color: var(--text-dark);
	}

	.nav_btns a {
		flex: 1;
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.container {
		grid-template-columns: 2fr 3fr;
		align-items: center;
		padding: 2rem 0;
	}
}

@media (width > 1024px) {
	.container
}

